

@font-face {
    font-family: "Roboto";
    src: url(./fonts/Roboto-VariableFont_wdth\,wght.ttf);
    font-weight: normal;
    font-style: normal;
}


* {
    font-family: Roboto;
}

:root {
    --header-color: #407be3;
    --header-font-color: white;

    --body-background-color: #8493ad;
}


/* Header */
.header {
    background-color: var(--header-color);
    max-width: 100vw;
    height: 5rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-left: 3rem;
    padding-right: 3rem;
    font-size: 25px;
    font-weight: 750;

    color: var(--header-font-color);
}


.header .github-link {
    display: flex;
    align-items: center;
    gap: 8px;
}

.header a.link-text {
    text-decoration: none;
    color: var(--header-font-color);
}

.header a.link-logo {
    border: none;
    background-color: transparent;
    background-image: url("./icons/github.svg");
    width: 2rem;
    height: 2rem;
}


/* Main section */
body {
    margin: 0px;
    background-color: var(--body-background-color);
}
